<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation Session | foamapp.go</title>
    </head>
    <body>
        <form action="/start-session" method="POST">
            <label>名前: </label>
            <input type="text" readonly value={{ .Name }}><br>
            <label>生年月日: </label>
            <input type="date" readonly value={{ .Birthday }}><br>
            <label>メッセージ: </label><br>
            <textarea readonly>{{ .Message }}</textarea><br>
            <input type="submit" value="submit">
        </form>
        <form action="/message-form-session" method="POST">
            <input type="submit" value="back">
        </form>
    </body>
</html>
