<!DOCTYPE html>
<html>
    <head>
        <title>Date form Stateless | foamapp.go</title>
    </head>
    <body>
        <form action="/message-form-stateless" method="POST">
            <input type="hidden" name="name" value={{ .Name }}>
            <label for="birthday">生年月日: </label><input type="date" name="birthday"><br>
            <input type="submit" value="next">
        </form>
        <form action="/name-form-stateless" method="POST">
            <input type="submit" value="back">
        </form>
    </body>
</html>
