{{ template "header" . }}
<h1>{{ .Name }} doesn't exist!!</h1>
<form action="/delete-account/confirm" method="POST" onSubmit="return checkSubmit()">
    <dl>
        <dt><label for="name">アカウント名: </label></dt>
        <dd><input type="text" name="name" required></dd>
        <dt><label for="pwd">パスワード: </label></dt>
        <dd><input type="password" name="pwd" required></dd>
    </dl>
    <input type="submit" value="アカウント削除">
</form>
{{ template "footer" }}

<script>
    function checkSubmit() {
        return confirm("Are you sure to delete this account?");
    }
</script>
