{{ template "header" . }}
<h1>{{ .Task.Title }}</h1>
<form action="/task/{{ .Task.ID }}/edit/confirm" method="POST" onSubmit="return checkSubmit()">
    <input type="hidden" name="ID" value={{ .Task.ID }}>
    <label for="Title">タイトル: </label><input type="text" name="Title" value={{ .Task.Title }} required><br>
    <label for="DLString">締め切り: </label><input type="datetime-local" name="DLString" value={{ .DLString }}><br>
    <input type="radio" id="No.1" name="IsDone" value={{ .Task.IsDone }} checked>
    <label for="No.1">{{ if .Task.IsDone }}完了{{ else }}未完了{{ end }}</label><br>
    <input type="radio" id="No.2" name="IsDone" value={{ not .Task.IsDone }}>
    <label for="No.2">{{ if not .Task.IsDone }}完了{{ else }}未完了{{ end }}</label><br>
    <input type="submit" value="更新">
    <input type="reset">
</form>
{{ template "footer" }}

<script>
function checkSubmit() {
	return confirm("Are you sure to edit it?");
}
</script>
