{{ template "header" . }}
<h1>You are currently not logged in!!</h1>
<table>
    <tr>
        <th>
            <form action="/login" method="GET">
                <input type="submit" value="Login Page">
            </form>
        </th>
        <th>
            <form action="/signup" method="GET">
                <input type="submit" value="Signup Page">
            </form>
        </th>
        <th>
            <form action="/" method="GET">
                <input type="submit" value="back to home">
            </form>
        </th>
    </tr>
</table>
{{ template "footer" }}
