{{ template "header" . }}
<h1>{{ .Title }}!!</h1>
<form action="/signup/confirm" method="POST" onSubmit="return checkSubmit()">
    <dl>
        <dt><label for="Name">アカウント名: </label></dt>
        <dd><input type="text" name="Name" required></dd>
        <dt><label for="Pwd">パスワード: </label></dt>
        <dd><input type="password" name="Pwd" required></dd>
        <dt><label for="Confirm">確認: </label></dt>
        <dd><input type="password" name="Confirm" required></dd>
    </dl>
    <input type="submit" value="アカウント作成">
</form>
{{ template "footer" }}

<script>
    function checkSubmit() {
        return confirm("Are you sure to sign up?");
    }
</script>
