{{ template "header" . }}
<h1>List of tasks</h1>
{{ if not .Tasks }}
<p>登録データがありません．</p>
{{ else }}
<table>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>締め切り</th>
        <th>登録日</th>
        <th>状態</th>
    </tr>
    {{ range $task := .Tasks }}
    <tr>
        <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
        <td>{{ $task.Title }}</td>
        <td>{{ $task.Deadline }}</td>
        <td>{{ $task.CreatedAt }}</td>
        <td>{{ if $task.IsDone }}済{{ end }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
<form action="/list" method="GET">
    {{ if .qok }}<input type="hidden" name="query" value={{ .Query }}>{{ end }}
    {{ if .iok }}<input type="hidden" name="IsDone" value={{ .IsDone }}>{{ end }}
    <input type="hidden" name="DLOrder" value=true>
    <input type="submit" value="締め切り順">
</form>
{{ template "footer" }}
